<div class="row">
        <div class="col"></div>
        <div class="col-xl-2 footer-body">
            <div id="contactInfoDiv" class="startpage-contactinfo" style="font-size:10.0pt">
                <div style="font-weight:bold;">Служба поддержки ПК «МУФ СО Документация»</div>
                <div><span style="text-decoration:underline; font-weight:bold">г.Самара УАБП</span></div>
                <div><span style="font-style:italic">Телефон:</span> 333-52-59 (добавочный "Диденко")</div>
                <div><span style="font-style:italic">Обучающие материалы и инструкции:</span> <a href="https://service.minfin-samara.ru.ru" target="_blank">открыть</a></div>
              </div>
        </div>        
      </div>