<div class="conteiner-fluid">
      
    <div class="row" style="height: 50px;">
        <div class="col-xl header-body" style="text-align: center; color: #ebf837">
          <h1>ПК МУФ СО "Документация"</h1>
        </div>
    </div>
<!-- Заголовок авторизации -->
    <div class="row" style="height: 20px;">
      <div class="col-xl header-body" style="text-align: right; font-style:italic; font-weight:bold; font-size:9.0pt; color: #f85c37">
          <a href="/logout">Выход:</a>
          <%= user.firstname + ' ' + user.middlename + ' ' + user.lastname  %>
        </div>
    </div>
