.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-xl,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12{
    background: #eee;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999; 
}

.scrl{
    overflow: auto;
}
    

.conteiner,
.conteiner-fluid{
    background: #eee;
    border-top: 1px solid #999;
    border-left: 1px solid #999; 
}

.header-body{
    background: #2d2d2d;  
    border-left: 1px solid#eee;
    border-right: 1px solid#eee;
}

.footer-body{
    background: rgba(238, 235, 68, 0.933);  
    
    border-left: 0px;
    border-right: 0px;
}

.navigator-body{
    background: #aaee; 
}

.chatmessages-body{
    background: #00ee; 
}
